@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Urbanist', sans-serif;

}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

#loader>img{
    height: 50px;
    width: 50px;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 9;
    padding: 0px 25px;
}

#nav>h1>span{
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
}

#nav>h1{

    font-weight: 800;
    font-size: 1.5rem;
    color: #fff;

}

#buttons{
    display: flex;
}

#nav>div>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    border: none;
}



#modes{

    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    margin-right: 15px;

}

#modes:hover{
    cursor:pointer;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #343434;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #343434;
    color: #fff;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #343434;
    color: #fff;

}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #343434;
    color: #fff;

}

#page4{
    position: relative;
    height: 104vh;
    width: 100vw;

}


canvas{
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
    
}

#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    
}

#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 19s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #f3f3f3;
}

#loop>h1>span{
    font-weight: 400;
    -webkit-text-stroke: 1.2px #fff;
    color: transparent;
    font-weight: 500px;
}

@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#english{
    position: absolute;
    top: 60%;
    left: 3%;
    font-weight: 200;
    color: #fff;
    font-size: 90%;

}

#page>h4{
    position: absolute;
    top: 68%;
    right: 3%;
    font-weight: 400;
    font-size: 95%;
    color: #f3f3f3;

}

#chinese{
    position: absolute;
    top: 60%;
    right: 2%;
    font-weight: 200;
    color: #fff;
    font-size: 90%;
    text-align: right;
}

#page1-left-text{

    position: absolute;
    top: 32%;
    left: 4%;

}

#page1-left-text>h1{

    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2em;

}

#page1-left-text>h4{

    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 12px;
    color: #7c7c7c;

}

#page1-right-text{

    position: absolute;
    top: 50%;
    right: 4%;
    text-align: right;

}

#page1-right-text>h1{

    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2em;

}

#page1-right-text>h4{

    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 12px;
    color: #7c7c7c;

}

#page2-left-text{

    position: absolute;
    top: 25%;
    left: 4%;

}

#page2-left-text>h1{

    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2em;

}

#page2-left-text>h4{

    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 12px;
    color: #7c7c7c;

}

#page2-right-text{

    position: absolute;
    top: 45%;
    right: 4%;
    text-align: right;

}

#page2-right-text-above{
    
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 12px;
    color: #7c7c7c;

}

#page2-right-text-below{

    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 12px;
    
}

#page3-left-text{

    position: absolute;
    top: 44%;
    left: 4%;

}

#page3-left-text-above{
    
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 12px;

}

#page3-left-text-below{

    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 12px;
    color: #7c7c7c;
    
}


#page3-right-text{

    position: absolute;
    top: 25%;
    right: 4%;
    text-align: right;

}

#page3-right-text>h1{

    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2em;

}

#page3-right-text>h4{

    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 12px;
    color: #7c7c7c;

}

#page4-content{
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 70px;
}

#title>h4{
    font-size: 0.9rem;
    font-weight: 400;
    margin: 8px;
    text-align: center;
}

#mid>h1{

    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2em;
    text-align: center;

}

#end{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#end>h4{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 12px;
    margin: 0px 20px;
}

#main-avatars{
    display: flex;
    position: absolute;
    bottom: 0%;
}

#main-avatars-wrap{
    display: flex;
}

#main-avatars-wrap>span{
    height: 400px;
    width: 300px;
    animation-name: slide;
    animation-duration: 19s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#main-avatars-wrap>span>img{
    height: 400px;
    width: 400px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
   
    100% {
        transform: translateX(-1300%);
    }
}